html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f6efdb;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: stretch;

}
.card-container{
  display: flex;
  background: white;
  margin: 8px;
  overflow: hidden;
}
.card-container .img-container{
  display: flex;
  justify-content: center;
}
.card-container .img-container img{
  height: 100px;
}

.card-container .card-right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-container .card-button{
  
}
.card-container .product-name{
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .product-container{
    display: grid;
    grid-template-columns: 100%;
    align-items: stretch;
  
  }
}
